
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewURL</title>
</head>
<body>
    <div>
        <form action="/Main/SaveURL" method="GET">
            
            Link : <input type="text" id="IDLink" name="link" /> 
            <br /><br />
            Description : <input type="text" id="IDdescription" name="description" /> <br /><br />
            Category : <input type="text" id="IDcategory" name="category" /> <br /><br />
            <input type="submit" value="Add URL" />
        </form>
    </div>
</body>
</html>


